@import "colorScheme";

#friends, #topUsers {
  padding-top: 30px;
  text-align: center;
  & > h2{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    text-decoration: underline;
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: calc(100vh - 32px);
  /* height: calc(100% - 24px); */
  /* height: calc(100% - 87px); Needs to scale for dynamic content*/
  background: rgba(28, 26, 26, 0.87);
  // margin-top: 20px;
}

.loadTrades {
  margin: 30px 0px;
  background: $successButton;
  border-color: $successButton;
  &.end {
    background: $failButton;
    border-color: $failButton
  }
}