#friends, #topUsers {
  text-align: center;
  & > h2{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    text-decoration: underline;
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 88.5%;
  /* height: calc(100% - 24px); */
  /* height: calc(100% - 87px); Needs to scale for dynamic content*/
  background: rgba(28, 26, 26, 0.87);;
}