@import 'colorScheme';

.popUpInfo {
  position: absolute;
  top: 10%;
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  // background: rgba(241, 236, 236, 0.822);
  background: white;
  overflow: hidden;
  text-align: left;
  & > i {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  & > div {
    &#addFoodForm {
      padding-top: 60px;
      height: 410px;
    }
    &:nth-of-type(1) {
      background: rgba(128, 128, 128, 0.074);
      width: calc(50% - 45px);
      margin-left: 45px;
      height: calc(100% - 130px);
      margin-top: 45px;
      float: left;
      & > h2 {
        text-align: center;
      }
      & > p {
        margin-left: 20px;
      }
      & label, input {
        width: 231px;
        margin-bottom: 30px;
        margin-left: 20px;
      }
      & textarea {
        width: 229px;
        min-width: 229px;
        max-width: 229px;
        height: 160px;
        min-height: 160px;
        max-height: 160px;
        margin-bottom: 30px;
        margin-left: 20px;
      }
      & button {
        background: $successButton !important;
        border-color: $successButton !important;
        width: calc(50% - 10px);
        margin-left: 20px;
        cursor: pointer;
        &:nth-of-type(2) {
          background: $failButton !important;
          border-color: $failButton !important;
          margin-left: 0px;
        }
      }
    }
    &:nth-of-type(2) {
      background: rgba(128, 128, 128, 0.074);
      width: calc(50% - 45px);
      margin-right: 45px;
      height: calc(100% - 130px);
      margin-top: 45px;
      float: right;
      overflow-y: scroll;
      & > ol {
        list-style: none;
        padding-left: 0px;
        margin: 20px;
        & li {
          & > img {
            width:100%;
            margin-bottom: -2px;
          }
          & > button {
            margin-bottom: 20px;
            width: 100%;
            cursor: pointer;
            background: $successButton !important;
            border-color: $successButton !important;
            &.cancel {
              background: $failButton !important;
              border-color: $failButton !important;
            }
          }
        }
      }
    }
    & > div {
      text-align: center;
      height: 200px;
      & > img {
        margin-top: 20px;
        max-width: 100%;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  & > button {
    height: 38px;
    margin-left: 45px;
    width: calc(100% - 90px);
    &:enabled {
      cursor: pointer;
      background: $successButton !important;
      border-color: $successButton !important;
    }
  }
}
