.info {
  display: inline-block;
  width: 30%;
  border: solid white;
  background: grey;
}

.info > .profile {
  text-align: center;
}

.info > .profile > img {
  border: solid black;
}

.postTrades {
  width: 69%;
  float: right;
  text-align: center;
  border: solit white;
}

.postTrades > form {
}

.profileList {
  border: solit white;

}

.photos {
  width: 30%;
  display: inline-flex;
  text-align: center;
}

.photos > .images > img {
  width: 33%;
}
