@import 'listContainers';
@import 'listIndividual';
@import 'navBar';
@import 'popUp';
@import 'logInForm';
@import 'trades';

body {
  margin: 0px;
}

#lost {
  background: url('/images/tenor.gif');
  background-repeat: no-repeat;
  background-size: cover;
  & a {
    position: relative;
  }
}

#home {
  position: absolute;
  top: 200px;
  left: 30%;
  font-size: 3em;
}